In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kodiak,US,2022-04-14 02:12:24,57.7900,-152.4072,45.91,46,0,14.97
1,1,Punta Arenas,CL,2022-04-14 02:09:38,-53.1500,-70.9167,51.91,76,20,35.68
2,2,Mataura,NZ,2022-04-14 02:12:25,-46.1927,168.8643,59.49,52,44,4.54
3,3,Kahului,US,2022-04-14 02:12:25,20.8947,-156.4700,84.22,62,40,19.57
4,4,Jinchang,CN,2022-04-14 02:12:25,38.4953,102.1739,50.59,30,100,5.70

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kahului,US,2022-04-14 02:12:25,20.8947,-156.4700,84.22,62,40,19.57
5,5,Atar,MR,2022-04-14 02:12:26,20.5169,-13.0499,72.28,29,0,9.28
6,6,Karratha,AU,2022-04-14 02:11:09,-20.7377,116.8463,91.15,24,0,3.13
7,7,Basoko,CD,2022-04-14 02:12:26,1.2391,23.6160,71.31,96,100,2.75
11,11,San Cristobal,VE,2022-04-14 02:08:55,7.7669,-72.2250,75.38,70,98,1.74
12,12,Rikitea,PF,2022-04-14 02:12:27,-23.1203,-134.9692,78.48,70,11,18.99
15,15,Puerto Ayora,EC,2022-04-14 02:12:28,-0.7393,-90.3518,76.60,89,100,6.38
16,16,Victoria,HK,2022-04-14 02:10:32,22.2855,114.1577,82.94,70,0,8.99
20,20,Grand Gaube,MU,2022-04-14 02:12:30,-20.0064,57.6608,78.39,85,40,7.00
21,21,Mahebourg,MU,2022-04-14 02:12:30,-20.4081,57.7000,78.26,83,79,19.75

In [12]:
preferred_cities_df.count()

City_ID       233
City          233
Country       233
Date          233
Lat           233
Lng           233
Max Temp      233
Humidity      233
Cloudiness    233
Wind Speed    233
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3         Kahului      US     84.22  20.8947 -156.4700
5            Atar      MR     72.28  20.5169  -13.0499
6        Karratha      AU     91.15 -20.7377  116.8463
7          Basoko      CD     71.31   1.2391   23.6160
11  San Cristobal      VE     75.38   7.7669  -72.2250
12        Rikitea      PF     78.48 -23.1203 -134.9692
15   Puerto Ayora      EC     76.60  -0.7393  -90.3518
16       Victoria      HK     82.94  22.2855  114.1577
20    Grand Gaube      MU     78.39 -20.0064   57.6608
21      Mahebourg      MU     78.26 -20.4081   57.7000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):

        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kahului,US,84.22,20.8947,-156.4700,Maui Seaside Hotel
5,Atar,MR,72.28,20.5169,-13.0499,Oumou Elghoura
6,Karratha,AU,91.15,-20.7377,116.8463,ibis Styles Karratha
7,Basoko,CD,71.31,1.2391,23.6160,Jackyna Hotel
11,San Cristobal,VE,75.38,7.7669,-72.2250,Pirineos
12,Rikitea,PF,78.48,-23.1203,-134.9692,People ThankYou
15,Puerto Ayora,EC,76.60,-0.7393,-90.3518,Finch Bay Galapagos Hotel
16,Victoria,HK,82.94,22.2855,114.1577,Mini Hotel Central
20,Grand Gaube,MU,78.39,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
21,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Get locations 
locations = hotel_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = hotel_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Create a location marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Combine layers to figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))